
.blue-background {
    background-color:#F7F0DE;
}

.nav-bar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#contact-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: center;
}
input {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: aliceblue;
}


#front-page-image {
    height: auto;
    width: 400px;

}

body {
    margin: 0px;
    background-color: white;
    min-height: 100vh;
    flex-direction: column;
}

h1, h3, h4, a, form, button {
    font-family: 'Caveat', cursive;
   
}

h1 {
    font-size: 28px;
    color: rgb(85, 26, 139);
    
}

a, h3 {
    text-decoration: none;
    padding: 10px;
    color: darkslateblue;
}

#front-page-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.products-image {
    width: 270px;
    height: 400px;
}


#products-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.products-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.company-page {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    margin-top: 40px;
}

.company-page h3 {
    margin-left: 20px;
}

}

button {
    margin-top: 10px;
}
@media screen and (max-width:700px) {
    .nav-bar {
        flex-direction: column-reverse;
    }
    
    .company-page {
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
     .company-page {
         flex-direction: column;
     }
     .company-page {
        padding: 0px;
        margin-top: 40px;
    }
    .contact-form {
        max-width: 90%;
    }
    #contact-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
 #cat-baking {
     max-width: 60%;
     margin: 30px;
     }
    }



footer {
    text-align: center;
    font-size: 5px;
    }

#contact-footer {
    margin-top: 100px;
}